<tr>
    <td class="index-table-key">
        <%= link_to @diagram.name, @diagram %>
    </td>
    <td class="index-table-value">
    <%= @diagram.name %>
    </td>

    <td class="index-table-edit">
                  
    <%= link_to "Edit this diagram", edit_diagram_path(@diagram), class: "text-indigo-600 hover:text-indigo-900" %><span class="sr-only"></span>
    </td>
</tr>