<!-- This example requires Tailwind CSS v2.0+ -->



<div class="card-component">
  <div class="card-header">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card headers on desktop than on body sections -->
    <div class="index-header-content">
    <div class="index-header-titles">
      <h1 class="h1-title">Networks</h1>
      <p class="p-subtitle">A list of all Networks, including network name, type, address, and prefix.</p>
    </div>
    <div class="div-new-button">
      <%= link_to "New network", new_network_path, class: "new-crud-button" %>
    </div>
  </div>  
</div>
<div class="card-body">
    <!-- Content goes here -->
    <!-- This example requires Tailwind CSS v2.0+ -->
<div class="card-body-index-1">
  
  <div class="card-body-index-2">
    <div class="card-body-index-3">
      <div class="card-body-index-4">
        <table class="card-body-table">
          <thead>
            <tr>
              <th scope="col" class="index-table-label-1">Name</th>
              <th scope="col" class="index-table-label-2">Type</th>
              <th scope="col" class="index-table-label-2">Address</th>
              <th scope="col" class="index-table-label-2">Prefix</th>
              <th scope="col" class="index-table-label-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            
            <!-- More people... -->
              <%= render(Networks::IndexTableRowComponent.with_collection(@networks)) %>         
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="card-footer">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card footers at all sizes than on headers or body sections -->
  </div>
</div>