<div id="contextMenu" style="left: 1128px; top: 317px; z-index: 5; background-color: white; padding: 10px; border-style: solid; border-width: 1.5px; border-color: black; position: absolute;">
    <p>Component:</p>
    <ul></ul>
</div>