<!-- This example requires Tailwind CSS v2.0+ -->
<div class="card-component">
  <div class="card-header">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">Editing interface</h3>
      </div>
    <!-- Content goes here -->
    <!-- We use less vertical padding on card headers on desktop than on body sections -->
  </div>
  <div class="card-body">
    <!-- Content goes here -->
    <%= render(Interfaces::FormComponent.new(@interface, @sorted_machines)) %>

  </div>
  <div class="card-footer">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card footers at all sizes than on headers or body sections -->
    <%= link_to "Show this interface", @interface, class: "ml-2 link-crud" %>
  <%= link_to "Back to interfaces", interfaces_path, class: "ml-2 link-crud" %>
  </div>
</div>