<!-- This example requires Tailwind CSS v2.0+ -->
<div class="card-component">
  <div class="card-header">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">Editing machine</h3>
      </div>
    <!-- Content goes here -->
    <!-- We use less vertical padding on card headers on desktop than on body sections -->
  </div>
  <div class="card-body">
    <!-- Content goes here -->
     <%= render(Machines::FormComponent.new(@machine, @sorted_locations, @sorted_interfaces))%>
  </div>
  <div class="card-footer">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card footers at all sizes than on headers or body sections -->
    <%= link_to "Show this machine", @machine, class: "ml-2 link-crud" %>
  <%= link_to "Back to machines", machines_path, class: "ml-2 link-crud" %>
  </div>
</div>